<div class="wrapper">

    <app-client-list [clients]="clients" (clientChanged)="handleClientChanged($event)"></app-client-list>


    <div class="content">
        <app-selected-client *ngIf="selectedClient" [client]="selectedClient"></app-selected-client>
        <div *ngIf="lieuxSelectedClient">
            <ul>
                <li *ngFor=" let lieu of lieuxSelectedClient" class="lieu">{{lieu.name}} --- {{lieu.id}}</li>
            </ul>
        </div>
        <p>
            Here we will put some data or router for the selected lieu and its indicators.
        </p>

        <app-selected-client class="top" *ngIf="selectedClient" [client]="selectedClient"></app-selected-client>
    </div>


</div>


