h4{
    margin-top: 20px;
}
.container input{
    display: block;
    width: 100%;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px;
}
.search_filters{
    width: 20%;
    float: left;
}
.search_result{
    /*margin-left: 5px;*/
    width: 80%;
    float: left;
}
.card{
    width: 100%;
    margin: 20px 0px;
}
.user {
    color: #b40dff;
    font-size: 15px;
}
.client {
    color: #0000ff;
    font-size: 15px;
}
.score{
    color: green;
    font-size: 10px;
    font-weight: bold;
}
.card_content .key{
    color: chocolate;
    font-size: 15px;
    font-weight: bold;
}
.card_content .value{
    color: darkgray;
    font-size: 15px;
    font-weight: bold;
}
span b{
    color: red;
}
.card_header{
    padding: 10px;
    border: 1px solid #88bfff;
    border-radius: 5px;
}
.card_header .key{
    color: chocolate;
    font-size: 15px;
    font-weight: bold;
}
.card_header .value{
    color: darkgray;
    font-size: 15px;
    font-weight: bold;
}

.search_filters .filter span{
    color: green;
}
.search_filters .filter ul {
    margin-left: 5px;
    list-style-type: none;
}
.request_filter {
    color: blue;
}
