* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Caladea;
    font-size: 18px;
    background-color: #f1f1f1;
}

.container{
    width: 1140px;
    margin: auto;
}

.sidebar{
    width: 25%;
    float: left;
}

.sidebar ul {
    list-style-type: none;
}
.sidebar a {
    text-decoration: none;
    margin-left: 10px;
}
.sidebar ul l {
    display: block;
    margin-top: 200px;
    margin-bottom: 200px;
}

.content{
    width: 75%;
    float: left;
}

h1{
    color: green;
}