/* You can add global styles to this file, and also import other style files */
.sidebarleft{
    float: left;
    width: 25%;
}
.main{
    float: left;
    width: 50%;
}

.sidebarright{
    float: left;
    width: 25%;
}
nav li{
    display: inline;
    list-style: none;
    margin: 10px;
}
.lieu{
    margin: 5px;
    padding: 5px;
    background-color: brown;
    color: white;
}
.client{
    margin: 5px;
    padding: 5px;
    background-color: green;
    color: white;
}
.content{
    margin-left: 100px;
}

.wrapper{
    position: relative;
}
.top {
    position: absolute;
    top: 0px;
    right: 0;
    border: 3px solid #73AD21;
}
